<html>
    <title>Summary</title>
    <body>
        <h1>Summary of your request</h1>
        <p>Name: {{ custname }}.</p>
        <p>Telephone: {{ custtel }}.</p>
        <p>E-mail: {{ custemail }}.</p>
        <p>Pizza size: {{ size }}.</p>
        <p>Pizza toppings: {{ toppings | join(',') }}.</p>
        <p>Comments: {{ comments }}</p>
    </body>
</html>
